@import url('https://fonts.googleapis.com/css?family=Fauna+One|Roboto');

html, body {
	margin: 0; padding: 0; overflow: hidden;
	cursor: none;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

h1 {
	font-family: 'Fauna One', serif;
	margin-bottom: .5rem;
	font-size: 2.5rem;
	letter-spacing: .05rem;
	color: #212121;
}

h2 {
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: .025rem;
	color: #212121;
	margin-bottom: .5rem;
	margin-top: 0;
	font-family: 'Fauna One', serif;
	font-weight: 600;
}

#world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: none;
}

div.info {
	position: absolute;
	z-index: 999;
	bottom: 2rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	text-align: center;
}

div.info.dark {
	color: #fafafa;
}

div.info.dark span.life {
	background-image: url(../img/heart-white.svg);
}

div.info .content {
	display: flex;
	justify-content: space-around;
}

div.info .content > div {
	margin: 0 2rem;
}

div.info p {
	
	text-transform: uppercase;
	letter-spacing: .025rem;
	font-weight: 600;
	font-size: .8rem;
	margin-bottom: .3rem;
	opacity: .8;
}

div.info .score span {
	font-size: 2rem;
	font-weight: 600;
	letter-spacing: .05rem;
}

div.replay {
	position: absolute;
	display: none;
}

div.replay p.score {
	margin-top: 0;
	opacity: .8;
	font-size: 1.4rem;
	letter-spacing: .05rem;
	margin-bottom: 2.5rem;
}

div.replay p.tap {
	text-transform: uppercase;
	margin-top: 0;
	opacity: .6;
	font-size: 1rem;
	letter-spacing: .05rem;
	font-weight: 600;
	margin-bottom: 0;
}

div.replay.active {
	display: inline-block;
	z-index: 999;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,.5);
}


#particles-js {
	position: absolute;
	width: 100vw;
	height: 70vh;
	z-index: 9;
}

/* LIFES */
span.life {
	display: inline-block;
	height: 2rem;
	width: 2rem;
	margin: 0 .2rem;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

span.life.false {
	opacity: .3;
}

div.hidden {
	display: none !important;
}

div.loading, div.start {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	text-align: center;
	color: #212121;
	background: linear-gradient(rgba(123,156,321,.7), rgba(224,225,254,.7));
}

div.loading p.loading, div.start p.loading {
	text-transform: uppercase;
	font-weight: 600;
	opacity: .7;
	margin-top: .5rem;
}

.day.hidden, .night.hidden {
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.day.visible, .night.visible {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

.night {
	opacity: 0;
}

.fadeOut {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}

div.day {
	background: linear-gradient(#7B9CE7, #E0FFFE);
	position: absolute;
	width: 100vw;
	height: 100vh;
}

div.night {
	background: linear-gradient(#212b48, #4768a8);
	position: absolute;
	width: 100vw;
	height: 100vh;
}